.home {
  .main-header {
    .flex-center-column();
    border-bottom: 2px dashed @navigation-border;
    h2 {
      padding-bottom: 1.5rem;
    }
    p {
      padding-bottom: 1.5rem;
    }
    img {
      padding-bottom: 1.5rem;
    }
    @media @mobile {
      width: 90%;
      margin: 0 auto;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
    @media @mobile {
      .flex-center-column();
      align-items: center;

      .img-fluid {
        order: -4;
      }

      .text-content {
        width: 90%;
      }
      .img-content {
        width: 90%;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    display: flex;

    @media @mobile {
      .flex-center-column();
      align-items: center;
      margin: 0 auto;
      width: 90%;

      .img-content, .text-content {
        width: 100%;
      }

      .img-content {
        order: 2;
      }
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 90%;
      margin: 0 auto;
      padding: 3rem 0;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      .flex-center-column();
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }

    .destination {
      .flex-center-column();
      width: 30%;
      margin-bottom: 30px;

      .btn {
        .btn(@white, @button-bg, @btnpadding);
        background: darken(@button-bg, 10%)
      }

      @media @mobile {
        width: 90%;

        .btn {
          padding: 1.5rem;
          width: 100%;
          background: @button-bg;
        }
      }
    }
  }
} // home
